examples/archive/slack-email-notifications.json
{
  "name": "Slack Email Notifications",
  "nodes": [
    {
      "parameters": {
        "event": "message.received"
      },
      "type": "n8n-nodes-agentmail.agentMailTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "trigger-1",
      "name": "AgentMail Trigger"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "condition-1",
              "leftValue": "={{ $json.from }}",
              "rightValue": "@spam",
              "operator": {
                "type": "string",
                "operation": "notContains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        220,
        0
      ],
      "id": "if-1",
      "name": "Filter Spam"
    },
    {
      "parameters": {
        "select": "channel",
        "channelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "text": "=New email received!\n\nFrom: {{ $json.from }}\nSubject: {{ $json.subject }}\n\nPreview: {{ $json.text.substring(0, 200) }}",
        "otherOptions": {}
      },
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.4,
      "position": [
        440,
        0
      ],
      "id": "slack-1",
      "name": "Send Slack Notification"
    }
  ],
  "pinData": {},
  "connections": {
    "AgentMail Trigger": {
      "main": [
        [
          {
            "node": "Filter Spam",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Spam": {
      "main": [
        [
          {
            "node": "Send Slack Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}
